@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    min-height: 100vh;
}
.head{
    height: 100vh;
    background: url('./img/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    color: #fff;
}
.navbar h1{
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    text-transform: capitalize;
    cursor: wait;
}
.navbar a{
    text-decoration: none;
    margin-right: 1.2rem;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Glory', sans-serif;
}
.navbar a:hover{    
    color: rgb(68, 86, 247);
}
.navbar button{
    padding: 12px 15px;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin-left: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(12, 8, 49, 0.863);
}
.navbar button:hover{
    background-color: rgba(67, 49, 49, 0.918);
    color: #fff;
}
#navbtn{
    display: none;
}
.head-h1{
    color: #fff;
    font-size: 5rem;
    margin-top: 12rem;
    font-family: 'Maven Pro', sans-serif;
    text-transform: capitalize;
}


.main-1{
    display: flex;
}
.main-1-text{
    min-width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    box-sizing: border-box;
    line-height: 1.7;
}
.main-1-text h1, .main-2-text h1{
    font-size: 3vw;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    color: #474747;
}
.main-2-text p, .main-1-text p{
    font-size: 1.3vw;
    color: #797979;
    font-family: 'Glory', sans-serif;
}
.main-2-text a, .main-1-text a{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
.main-1-text a:hover{
    text-decoration: underline;
    color: #FFD101;
}
.main-2-text a:hover{
    text-decoration: underline;
    color: #FF7364;
}

.main-1-img{
    min-width: 50%;
    height: 70vh;
    background: url('./img/tuxum-sariq.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
}


.main-2{
    display: flex;
}
.main-2-text{
    min-width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    box-sizing: border-box;
    line-height: 1.7;
}
.main-2-img{
    min-width: 50%;
    height: 70vh;
    background: url('./img/stakan-pushti.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
}


.main-3{
    display: flex;
}
.main-3-img1{
    min-width: 50%;
    height: 40vw;
    background: url('./img/gilos.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    padding: 2rem 8%;
}
.main-3 h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 3.5vw;
    margin: 0;
}
.main-3 p{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.5vw;
}
.main-3-img2{
    min-width: 50%;
    height: 40vw;
    background: url('./img/mandarin.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    padding: 2rem 8%;
}


.main-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}
.main-4 h1{
    margin-bottom: 3rem;
    font-family: 'Maven Pro', sans-serif;
}
.main-4-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.main-4 img{
    height: 80px;
    border-radius: 100%;
    margin: 1rem 0;
}
.main-cards{
    width: 350px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 10px;
}
.main-cards p{
    margin: 2rem 0 ;
    font-family: 'Maven Pro', sans-serif; 
    color: #797979;
}
.main-4 h2{
    font-family: 'Alumni Sans', sans-serif;
    color: #494949;
}
h6{
    font-family: 'Maven Pro', sans-serif; 
    color: #636363;
}


.main-5{
    display: flex;
}
.div{
    overflow: hidden;
}
.div img{
    width: 100%;
    height: 100%;
    transition: 1s ease 0s;
}
.main-5 img:hover{
    transform: scale(1.2);
}
.main-5-imgcard{
    display: flex;
}
.main-5-imgcard2{
    display: flex;
}


footer{
    background-color: rgba(3, 187, 194, 0.5);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer h1{
    color: rgb(1, 92, 95);
    font-family: 'Indie Flower', cursive;
    text-transform: capitalize;
    font-size: 4.5vw;
}
footer a:hover{    
    color: rgb(1, 74, 77);
}
footer a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.3rem;
    color: rgba(0, 81, 83, 0.63);
    font-family: 'Glory', sans-serif;
    font-weight: bold;
}
footer i{
    font-size: 1.5rem;
    color: rgb(1, 92, 95);
    margin: 0 13px;
    cursor: pointer;
}
footer i:hover{
    color: rgb(0, 141, 146);
}








@media (max-width: 1000px){
    .container{
        width: 100%;
    }
}

@media (max-width: 900px){
    .main-3 h1{
        font-size: 3vw;
    }
}


@media (max-width: 750px){
    .head-h1{
        font-size: 10vw;
    }
    .main-4 h1{
        font-size: 4vw;
    }
}
@media (max-width: 700px){
    #navbtn{
        display: inline-block;
        position: absolute;
        right: 2rem;
    }
    .navbar a{
        display: none;
    }
    .navbar button{
        display: none;
    }
}

@media (max-width: 600px){
    .main-1{
        flex-direction: column-reverse;
    }
    .main-2{
        flex-direction: column;
    }
    .main-2-text{
        height: 40vh;
    }
    .main-1-text{
        height: 40vh;
    }
    .main-1-text h1, .main-2-text h1{
        font-size: 4vw;

    }
    .main-2-text p, .main-1-text p{
        font-size: 2.5vw;
    }

    .main-3{
        flex-direction: column;
    }
    .main-3-img1{
        height: 60vw;
        background-position: top;
        padding: 1rem 15%;
    }
    .main-3-img2{
        height: 60vw;
        background-position: top;
        padding: 1rem 15%;
    }

    .main-4 h1{
        margin: 2rem 0 0 0;
    }
    .main-4 p{
        font-size:  2.5vw;
        margin: 0;
    }
}


@media (max-width: 500px){
    .main-5{
        flex-direction: column;
    }
    .navbar h1{
        font-size: 9vw;
    }
    .main-2-img, .main-1-img{
        height: 60vw;
    }
    .main-1 a, .main-2 a{
        font-size: 3vw;
    }

    footer{
        height: 65vw;
    }
    footer h1{
        font-size: 5.8vw;
    }
    footer a{
        margin: 0 1rem;
        font-size: 4vw;
    }
    footer i{
        font-size: 4vw;
    }
}

@media (max-width: 350px){
   .head{
       height: 60vh;
   }

}